<%= common_title %>
<div class="page-block">

  <div class="page-block-body">
    <div class="sub-page-block">
      <div class="sub-page-block-header">
        <%= link_to(t(:back), {:controller => "dip/import_management", :action => "index"}, :class => "btn btn-primary") %>
      </div>
      <div class="sub-page-block-body">
        <div id="data_area"></div>
        <%= datatable("data_area", {:action => "get_data", :batchId => params[:id]},
                      [],
                      {:search_box => "searchBox", :paginator_box => "paginator", :scroll => {:mode => "xy"}}) %>
        <div id="paginator"></div>
      </div>
    </div>
  </div>
  <table class="page-block-footer">
    <tr>
      <td class="page-block-title">
      </td>
    </tr>
  </table>
</div>


