<!--  irm datatable      -->
 <div class="irm-datatable">
   <div>
       <table>
         <tbody>
           <tr class="no-data">
               <td><%= t(:no_data) %></td>
           </tr>
         </tbody>
       </table>
   </div>
 </div>
<!--  end irm datatable      -->