<div class="modal hide" id="sync_modal" style="margin-left:-400px ;width: 800px">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t(:sync) %></h3>
  </div>
  <div id="sync_msg"></div>
  <div class="modal-body">
    <div class="page-block-body">
      <%= datatable("data_table2", {:action => "get_ldap_data", :format => "json"},
                    [],
                    {:lazy_load=>true,:search_box => "searchBox2",:paginator_box => "paginator2",:scroll => {:mode => "xy", :height => 250}}) %>
    </div>
  </div>
  <div class="modal-footer">
    <button onclick="sync_user(event)" class="btn btn-primary"><%= t(:sync) %></button>
    <button type="submit" class="btn" data-dismiss="modal"><%= t(:close) %></button>
  </div>
</div>
