.bundle
db/*.sqlite3
log/**
tmp/**/*
wiki
.idea
db/schema.rb
vendor/bundle/**
Gemfile.lock
**/Thumbs.db
index
Capfile
config/deploy.rb
ironmine.ids
solr/solr/data/**
solr/data/**
public/tmp/*
public/assets/*
public/upload/**
lib/function_data.rb
lib/menu_data.rb

