<%= common_title(:model_meaning=>t(:label_irm_operation_unit)) %>
<!--页面结构-->
<div class="page-block">
  <table class="page-block-header"><tr>
    <td class="page-block-title">
      <h2 class="block-title"><%= t(:label_irm_operation_unit_list) %></h2>
    </td>
    <td class="page-block-button"></td>
    <td class="page-block-help">
      <div id="searchBox"></div>
    </td>
  </tr></table>
  <div class="page-block-body">
    <div id="operation_units"></div>
    <%= datatable("operation_units",{:action=>"get_data"},[],{:search_box=>"searchBox",:paginator_box=>"paginatorBox"})%>
    <div id="paginatorBox"></div>
  </div>
</div>