<%= wicked_pdf_stylesheet_link_tag "application","pdf" %>
<%= wicked_pdf_javascript_include_tag "application","pdf" %>

<div class="pdf-container">
  <%- with_format('html') do %>
    <%= render "show_#{@report.program_type.downcase}"%>
  <%- end %>
</div>