<div style="width: 100%; height: 100%;" class="loading">
  <div class="loading-holder" style="width: 89px; top: 35px;">
    <%= image_tag "loading.gif",:class=>"loading-image",:title=>t(:loading)%>
    <span class="loading-text"><%= t(:loading) %></span>
  </div>
</div>