<% if ie6?  %>
    <% require_jscss(:login_ie6) %>
<% else %>
    <% require_jscss(:login) %>
<% end %>
<body id="loginpage">
    <div id="pagewrap">
        <div id="newheader">
        </div>
        <div id="gradientwrap">
            <div class="bottom">
            <div id="forgotpasswordbox" style="width: auto;">
              <div class="forgotbox">
                <% if notice %>
                  <div class="alert alert-error">
                    <a href="javascript:void(0);" class="close" data-dismiss="alert">×</a>
                    <strong>Error!</strong> <%= notice %>.
                  </div>
                <% end %>
                <%= form_tag({:action=> "send_email"},{:id=>"forgetPassword",:name=>"forgotPassword"}) do %>
                  <p>请记住，您的用户名是电子邮件地址的形式 (username@company.com)，并且密码区分大小写。 重试登录。</p>
                  <p>如果仍无法登录，请在下面重置密码。</p>
                  <h1>重置密码</h1>
                  <table cellpadding="0" border="0"><tbody><tr><td>
                    <div class="inputbox" style="padding-top: 20px;">
                        <label for="name">电子邮箱</label>
                        <span class="inputcontainer" style="padding: 0;">
                          <input type="email" class="std" tabindex="1" placeholder="username@company.com"  name="email" id="email"/>
                        </span>
                        <div class="grow-button-container">
                            <a tabindex="2" type="submit" class="btn btn-primary">确定</a>
                        </div><!-- .grow_button_container -->
                    </div><!-- .inputbox -->
                    </td></tr></tbody>
                  </table>
                <% end -%>
              </div>
            </div>
            <span id="forgotpasswordboxbottom"><!-- bottom --></span></div>
        </div>
    </div>
</body>
