<% if ie6?  %>
    <% require_jscss(:login_ie6) %>
<% else %>
    <% require_jscss(:login) %>
<% end %>
<body id="loginpage">
<div id="pagewrap">
  <div id="newheader">
  </div>
  <div id="gradientwrap">
    <div class="bottom">
      <div id="forgotpasswordbox" style="width: auto;">
          <div class="alert alert-success">
            <strong>Well done!</strong> 邮件发送到您的邮箱中，请在30分钟内收信重置密码。.
          </div>
      </div>
      <span id="forgotpasswordboxbottom"><!-- bottom --></span></div>
  </div>
</div>
</body>
