<table id="reportData" width="100%">
  <thead>
    <tr>
      <% @report.report_header[0].each do |title| %>
        <th><strong><%= title %></strong></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @report.report_meta_data.each do |rd| %>
    <tr>
      <% @report.report_header[1].each do |k|  %>
        <td><%= rd[k] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>