.datatable .x-grid-header-ct {
    border-color: #cbcbcb;
    border-left-width: 0;
    border-right-width: 0;
}

.datatable .x-panel .x-grid-body {
    border-color: #eaeaea;
    border-left-width: 0;
    border-right-width: 0;
}

.datatable .x-toolbar-default {
    border-color: #eaeaea;
    border-left-width: 0;
    border-right-width: 0;
    background: none;
}

.datatable .x-column-header,
.datatable .x-column-header-over
{
    background:url(../images/grid_headerbg.gif) repeat-x scroll 0 bottom #FFFFFF; /* header gradient */
    border-right-color: #cbcbcb;
}

.datatable .x-grid-row .x-grid-cell
{
    border-bottom-color: #cbcbcb;
}

.datatable .x-grid-row-over .x-grid-cell
{
    background-color:#EDF5FF;
    border-top-color: transparent;
}

/************修正表格在IE7中表头与表格数据不能对齐的问题,对IE7生效**************/
.x-strict .x-ie7 .x-grid-header-row {
    position: inherit;
}

.x-strict .x-ie6 .x-grid-header-row {
    position: inherit;
}

.x-html-editor-tb .x-edit-uploadimage{
    background-image: url("../images/16_16/photo_edit.gif");
}


body * {box-sizing: content-box !important;}
.x-border-box .x-reset, .x-border-box .x-reset * {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.x-panel *, .x-grid *, .x-panel-default *, .x-component * {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
}
