.lay-default #contentWrapper {
    min-width: 100%;
}

.lay-default #bodyColA {
    float:left;
    width:210px;
    display:inline-block;
}

.lay-default #bodyColB {
    display:inline-block;
    margin: 0 0 0 210px;
    padding-right: 10px;
}

.lay-default #bodyColC {
    display:none;
}

div.no-table-footer {
    clear: both;
    margin-left: 0;
}

body .page-footer a, body .page-footer {
    color: #FFFFFF;
}

.page-footer {
    line-height: 1.8em;
    padding: 0 0 20px 0;
    text-align: center;
}

.lay-right #bodyColA {display:inline-block;float: right; width: 210px;}
.lay-right #bodyColB {display:inline-block;margin: 0 220px 0 0;padding-left: 10px;}
.lay-right #bodyColC {display:none;}

.lay-full #bodyColA {display:none;}
.lay-full #bodyColB {display:inline-block;margin: 0 0 0 0;padding: 0 10px;}
.lay-full #bodyColC {display:none;}

.lay-setting #bodyColA {float:left;width:210px;}
.lay-setting #bodyColB {display:block;margin: 0 0 0 210px;}
.lay-setting #bodyColC {display:none;}