
<% label_field = @fields.detect{|i| i[:label]};value_field = @fields.detect{|i| i[:value_field]} %>
<!--  irm datatable      -->
<div class="datatable">
  <div>
      <table>
        <thead>
          <tr>
            <% @fields.each do |field| %>
                <% next if field[:hidden] %>
              <th>
                <div><%= field[:name] %></div>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @datas.each_with_index do |data,index| %>
            <tr id="<%=data[:id]%>">
              <% @fields.each do |field| %>
                <% next if field[:hidden] %>
                <% if field[:label] %>
                  <td >
                    <div><%= lookup_pick_link(params[:lkfid],data[value_field[:key]],data[label_field[:key]],data.attributes)%></div>
                  </td>
                <% else %>
                  <td>
                    <div>
                      <%= handler_lov_data(data[field[:key].to_sym]) %></div>
                  </td>
                <% end %>
              <% end %>
            </tr>
          <% end -%>
        </tbody>
      </table>
  </div>
</div>
